# OS directory info files
.DS_Store
desktop.ini

# node
node_modules

# static build
build

# secrets
.env
.env.*
cookies.json

# docker
docker-compose.yml

# ide
.vscode

.idea/
web/.firebase

Microsoft/
WindowsPowerShell/
clerk-secret.yaml
wechat-secret.yaml
wechatpay-secret.yaml
urls.txt
scripts/indexnow-submit.mjs
api/src/cookies.json
tmp/snapwc_captcha_state.json
tmp/snapwc_captcha.png
tmp/snapwc_parse_decoded.json
tmp/snapwc_parse_result_spki.json
tmp/snapwc_parse_result.json
